<div class="navbar-container">
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>
    <a *ngIf="userRole === 'ADMIN'" mat-list-item routerLink="/accounts" routerLinkActive="active">
      <mat-icon matListItemIcon>manage_accounts</mat-icon>
      <span matListItemTitle>Quản lý tài khoản</span>
    </a>
    <a *ngIf="userRole === 'ADMIN'" mat-list-item routerLink="/students" routerLinkActive="active">
      <mat-icon matListItemIcon>school</mat-icon>
      <span matListItemTitle>Quản lý sinh viên</span>
    </a>
    <a *ngIf="userRole === 'ADMIN'" mat-list-item routerLink="/rooms" routerLinkActive="active">
      <mat-icon matListItemIcon>apartment</mat-icon>
      <span matListItemTitle>Quản lý phòng</span>
    </a>
    <a *ngIf="userRole === 'ADMIN'" mat-list-item routerLink="/security" routerLinkActive="active">
      <mat-icon matListItemIcon>security</mat-icon>
      <span matListItemTitle>Quản lý an ninh</span>
    </a>
    <a mat-list-item routerLink="/notifications" routerLinkActive="active">
      <mat-icon matListItemIcon>notifications</mat-icon>
      <span matListItemTitle>Quản lý thông báo</span>
    </a>
    <a mat-list-item routerLink="/requests" routerLinkActive="active">
      <mat-icon matListItemIcon>question_answer</mat-icon>
      <span matListItemTitle>Quản lý yêu cầu</span>
    </a>
    <!-- <a mat-list-item routerLink="/contracts" routerLinkActive="active">
      <mat-icon matListItemIcon>description</mat-icon>
      <span matListItemTitle>Hợp đồng</span>
    </a>
    <a mat-list-item routerLink="/payments" routerLinkActive="active">
      <mat-icon matListItemIcon>payment</mat-icon>
      <span matListItemTitle>Thanh toán</span>
    </a>
    <a mat-list-item routerLink="/reports" routerLinkActive="active">
      <mat-icon matListItemIcon>assessment</mat-icon>
      <span matListItemTitle>Báo cáo</span>
    </a> -->
  </mat-nav-list>

  <div class="user-profile">
    <mat-icon class="user-avatar">account_circle</mat-icon>
    <span class="user-name">{{ userFullName }}</span>
  </div>
</div>
